<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='static.css') }}">

{% block content %}
</head>
<body>
    <p align='center' > The welcome data for user </p>
    <a href="/init-db">DB creation</a>
    <div>
    <img src="{{ url_for('static', path='img.jpg') }}"
    alt="img" width="240" height="360">
    </div>
    <p align='center' > This is {{ word }} Akagi</p>
    <a href="/add-john">Add John</a>
</body>
</html>
{% endblock %}
